
.jumbotron{
    padding-top: 4%;
    /* padding-bottom: 2%; */
    margin-top: 60px;
    

}

.header{
    margin-top: 40px;
}

.row1{
    /* margin-top: 10%; */
    height: 100vh;
    padding-top: 20px;
    margin-top: 10px;;
}

.rowimg{
    /* height: 30vh !important; */
    /* background-color: rgb(255, 94, 0); */
    /* height: 100%; */
}

.model{
    
    margin-left: 10px;
   
}

.model2{
    
    margin-left: 50px;
   
}


.sect1{
    margin-top: 5px;
    border-bottom: 5px solid #7a0000;
    
}


.modelselect{
    /* min-height: 50vh; */
    height: 100%;
}


.bottom{
    height: 100%;
    
    margin-bottom: 2%;
}

.resultsec{
    
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad{
    width: 100%;
    margin-top: 10px;
}