/* body{
    padding: 0px;
    margin: 0px;
}



#content{
    overflow-y: scroll;
    padding-top: 60px;
    height: 100vh;
    background-color: aqua;
} */

.header{
    margin-top: 40px;
}

.row1{
    /* margin-top: 10%; */
    height: 100vh;
}

.rowimg{
    /* height: 30vh !important; */
    background-color: aqua;
}

.model{
    
    margin-left: 10px;
   
}

.model2{
    
    margin-left: 50px;
   
}


.sect1{
    border-bottom: 5px solid #7a0000;
}